<%= provide(:body_id, 'index') %>
<div class="hero-unit">
  <h1>系统说明</h1><br>

  <p>
    为了提高Q1值测试得分，各位同仁想尽了各种各样的办法，耗费了大量的人力物力，但效果却并不理想，经过本人潜心钻研，终于找到了一个可以一劳永逸的解决办法。<br>
    通过本系统可生成非常理想的测试数据，并将测试结果快速上传至总部服务器上，Q1值5分不再遥远。
  </p>

  <p><a class="btn btn-primary btn-large" href="q1_test">进入测试 &raquo;</a></p>
</div>

