<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Q1值提升测试系统</a>

      <div class="nav-collapse">
        <ul class="nav" id="nav">
          <li id='nav-index'><a href="/">主页</a></li>
          <li id='nav-about'><a href="#about">关于</a></li>
          <li id='nav-contact'><a href="#contact">联系我</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>